<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/history-style.css" />
    <title>History</title>
  </head>
  <body>
    <div class="navbar">
      <div>
        <h1>Flight Booking</h1>
      </div>
      <ul class="linkCont">
        <ol>
          <a href="/user">Cari Penerbangan</a>
        </ol>
        <ol>
          <a href="/user/geneTicketPage">Cetak E-Tiket</a>
        </ol>
        <ol>
          <a href="/user/historyPage">Riwayat</a>
        </ol>
      </ul>
    </div>
    <div class="history">
      <div class="historyHeader">
        <h1>Riwayat Pemesanan</h1>
      </div>
      <div class="historyWrapper">
        <% if (typeof histories !== 'undefined' && histories.length > 0) { %>
        <table>
          <thead>
            <tr>
              <th>Booking ID</th>
              <th>Passenger Name</th>
              <th>Flight Number</th>
              <th>Departure</th>
              <th>Destination</th>
              <th>Departure Date Time</th>
              <th>Arrival Date Time</th>
              <th>Payment Status</th>
            </tr>
          </thead>
          <tbody>
            <% histories.forEach(function(history, index) { %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= history.Name %></td>
              <td><%= history.FlightNumber %></td>
              <td><%= history.Departure %></td>
              <td><%= history.Arrival %></td>
              <td>
                <%= new Date(history.DepartureDateTime).toLocaleString("en-GB",
                { year: "numeric", month: "2-digit", day: "2-digit", hour:
                "2-digit", minute: "2-digit", second: "2-digit", hour12: false
                }).replace(',', '') %>
              </td>
              <td>
                <%= new Date(history.ArrivalDateTime).toLocaleString("en-GB", {
                year: "numeric", month: "2-digit", day: "2-digit", hour:
                "2-digit", minute: "2-digit", second: "2-digit", hour12: false
                }).replace(',', '') %>
              </td>
              <td><%= history.PaymentStatus %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <% } else { %>
        <p>No flight history available.</p>
        <% } %>
      </div>
    </div>
  </body>
</html>
